// Label
// ==================
label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.85em;
}

input:disabled {
  opacity: 0.7;
}

// Honeypot
// =============
.form-optional {
  display: none !important;
}

// Champs texte
// ==================
.form-group input,
.form-group textarea,
.form-group select,
%input {
  border: 1px solid var(--form-border);
  background: var(--background);
  border-radius: 3px;
  color: var(--color);
  padding: space(1.5) space(1);
  display: block;
  width: 100%;
  outline: none;
  min-height: 45px;

  &::placeholder {
    color: var(--color);
  }

}

.form-group input.search{
  @extend input;
  min-height: inherit;
  min-width: 125px;
  max-height: 16px;
  font-size: 14px;
}

.form-group button {
  position: absolute;
  display: block;
  top: 4px;
  right: 0;

  svg {
    width: 14px;
    height: 14px;
  }
}

.form-group textarea {
  min-height: 150px;
}

.form-group label {
  display: block;
  margin-bottom: space(1);
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='white' stroke='%23121c4299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
  background-size: 12px 12px;
  background-position: center right 20px;
  background-repeat: no-repeat;



  /*@include dark {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%238491c7' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
  }*/
}