// Scans page
// =============
.events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  grid-gap: space(4);
  grid-auto-flow: dense;
}

.events .card {
  width: 100%;
}

.events-hero {
  text-align: center;
  /*grid-column: 1 / -1;

  @include up(840) {
    grid-column: 1 / 3;
  }*/
}

.events-pagination {
  margin: calc(3 * var(--space)) 0;
}